.landing-container{
    width: 100%;
    overflow: auto;
    margin-top: 100px;
}

.question-section{
    display: flex;
    
}

.question-container{
    width: 45%;
    padding: 1rem;
    background: rgb(245,245,220);
background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(255,255,255,1) 100%);
}

.question-image{
    width: 45%;
}

.question-image img{
    max-width: 300px;
    height: auto;
    margin-left: 40%;
}

.stats-section{
    background-color: #22A39F;
    
    width: 100%;
}

.stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45%;
    margin: 0 auto;
}

.stats-container ul{
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
}

.stats-container li{
    list-style: none;
    font-style:oblique;
    font-weight: 800;
    color: white;
}

.hypothesis-section{
    display: flex;
}

.hypothesis-container{
    width: 45%;
    padding: 1rem;
    background: rgb(245,245,220);
background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(255,255,255,1) 100%);
}

.purpose-section{
    display: flex;
}

.purpose-container{
    width: 45%;
    padding: 1rem;
    background: rgb(245,245,220);
background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(255,255,255,1) 100%);
}

@media screen and (max-width: 800px) {
    .question-section{
        
        display: flex;
        flex-direction: column;
        
        
    }
    .question-container{
        width: 80%;
        padding: 1rem;
        background-color: beige;
        margin: 2rem auto;
    }
    
    .stats-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto
    }
  }