.card-container{
    background-color: rgba(243,239,224, 0.7);
    width: 400px;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    

}

.card-banner{
    display: flex;
}

.book-image{
    max-width: 100px;
    height: auto;
}

.title-info{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    
}

.title-info hr{
    
    width: 60%;
    margin: 0 auto;
}

.ratings{
    display: flex;
    justify-content: space-between;
}