.header-nav-container{
    width: 100vw;
    background-color: beige;
    display: flex;
    
    justify-content: space-between;

}

.brand{
    
    padding: 5px;
}

.navigation{
    padding-right: .5rem;
    align-items: center;
    display: flex;
}


.navigation ul{
    display: flex;
    border: 1px solid rgb(47, 0, 255);
    justify-content: center;
}

.navigation li{
    padding: 0 1rem;
    list-style: none;
}

@media  (max-width: 800px ){
    .header-nav-container{
        width: 100vw;
        background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
}
