.footer-container{
    background-color: #434242;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mail:hover{
    color: yellow;
}



@media screen and (max-width: 480px) {
    .copywrite{
        text-align: center;
    }

    .twitter{
        text-align: center;
    }

    .mail{
        text-align: center;
    }
}

