.footer-container{
    background-color: #434242;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitter {
    height: 25px;
    color: beige;
}