*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 16px;
}

.main-container{
  min-height: 100vh;
  width: 100%;
    position: relative;
    margin-top: 100px;
  
}

.p1{
  padding: 1rem;
}
.p2{
  padding: 2rem;
}

.pt1{
  padding-top: 1rem;
}

.pt2{
  padding-top: 2rem;
}

.pb1{
  padding-bottom: 1rem;
}
.pb2{
  padding-bottom: 2rem;
}
.pl1{
  padding-left: 1rem;
}
.pl2{
  padding-left: 2rem;
}
.pr1{
  padding-right: 1rem;
}
.pr2{
  padding-right: 2rem;
}


.m1{
  margin: 1rem;
}
.m2{
  margin: 2rem;
}
.mt1{
  margin-top: 1rem;
}
.mt2{
  margin-top: 2rem;
}
.mb1{
  margin-bottom: 1rem;
}
.mb2{
  margin-bottom: 2rem;
}
.mr1{
  margin-right: 4rem;
}
.ml1{
  margin-left: 1rem;
}
.ml2{
  margin-left: 2rem
}

.t-normal{
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-medium{
  font-size: 1.25rem;
}

.t-large{
  font-size: 1.5rem;
}

.t-xlarge{
  font-size: 3rem;
}

.bold{
  font-weight: bold;
}

.yellow{
  color: yellow;
}

.beige{
  color: beige;
}


