*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 16px;
}

.main-container{
  min-height: 100vh;
  background-color: cadetblue;
}

.p1{
  padding: 1rem;
}


.m1{
  margin: 1rem;
}
.mt1{
  margin-top: 1rem;
}
.mb1{
  margin-bottom: 1rem;
}

.t-normal{
  font-size: 1rem;
}

.t-large{
  font-size: 1.5rem;
}

.t-xlarge{
  font-size: 3rem;
}


